.register {
	width: 85%;
	display: flex;
	justify-content: center;
}
.register-image {
	height: 550px;
	width: 512px;
}
.register-form {
	width: 488px;
	display: flex;
	flex-direction: column;
	margin-left: 188px;
}
.register-title {
	font: normal normal bold 48px/61px Lora;
}
.register-subtitle {
	font: normal normal normal 20px/28px Roboto;
	color: #262626;
	margin-bottom: 64px;
}
.register-email-valid {
	height: 40px;
	color: #9f9f9f;
	font: normal normal normal 16px/24px Roboto;
	padding-left: 12px;
	margin-top: 8px;
	margin-bottom: 8px;
	border: 1px solid #e9e9e9;
	border-radius: 4px;
}
.register-email-invalid {
	height: 40px;
	color: #9f9f9f;
	background-color: rgb(211, 100, 100);
	font: normal normal normal 16px/24px Roboto;
	padding-left: 12px;
	margin-top: 8px;
	margin-bottom: 8px;
	border: 1px solid #ff0000;
	border-radius: 4px;
}
.label-form {
	color: #262626;
	font: normal normal bold 14px/22px Roboto;
}
.error-message {
	color: red;
	height: 30px;
	margin-bottom: 10px;
}
.register-btn {
	width: 232px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #000000;
	color: #ffffff;
	font: normal normal normal 14px/24px Lora;
	border-radius: 4px;
	border: 0px;
	margin-top: 40px;
	cursor: pointer;
}
.register-btn:disabled {
	width: 232px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #616161;
	color: #a7a7a7;
	font: normal normal normal 14px/24px Lora;
	border-radius: 4px;
	border: 0px;
	margin-top: 40px;
	cursor: auto;
}
