.shopping-cart {
	display: flex;
	justify-content: center;
	width: 100%;
}
.shopping-cart-container {
	display: flex;
	flex-direction: column;
	width: 70%;
}
.shopping-cart-empty {
	color: rgb(156, 156, 156);
	height: 195px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 36px;
}
.empty-icon {
	margin-right: 8px;
	font-size: 54px;
}

.shopping-cart-title {
	font: normal normal bold 38px/46px Lora;
	letter-spacing: 0px;
	color: #262626;
	margin-bottom: 32px;
	padding: 0px;
}
.shopping-cart-total {
	font: normal normal bold 30px/38px Lora;
	letter-spacing: 0px;
	color: #262626;
	display: flex;
	justify-content: space-between;
	margin: 32px 0px 47px 0px;
}
.price {
	font: normal normal bold 30px/38px Roboto;
	letter-spacing: 0px;
	color: #b69454;
}
.shopping-cart-buttons {
	height: 40px;
	display: flex;
	justify-content: space-between;
}
.contiune-shopping-btn {
	width: 232px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #000000;
	border-radius: 4px;
	font: normal normal normal 14px/24px Lora;
	text-decoration: none;
}
.contiune-shopping-btn:hover {
	cursor: pointer;
}
.place-order-btn {
	width: 232px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #000000;
	color: #ffffff;
	border-radius: 4px;
	border: 0px;
	font: normal normal normal 14px/24px Lora;
	text-decoration: none;
}
.place-order-btn:hover {
	cursor: pointer;
}
