.card-lists {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	top: -120px;

	margin: 0;
}
.category-title {
	color: #262626;
	height: 132px;
	width: 1728px;
	display: flex;
	align-items: center;
	background-color: white;
}
.category-title-name {
	font-size: 28px;
	font-weight: 400;
	position: relative;
	position: relative;
	left: 40px;
}
