.carousel {
	width: 97.5%;
	background-color: #f3f1ee;
	height: 794px;
	display: flex;
	justify-content: center;
	padding: 0;
}

.slide {
	opacity: 0;
	display: none;
}

.slide-active {
	display: flex;
	align-items: center;
	width: 1728px;
	height: 85%;
}
.carousel-image {
	width: 650px;
	height: 453.78px;
	margin-left: 188px;
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	border-radius: 50%;
}

.carousel-container {
	width: 652px;
	position: relative;
	left: 48px;
}
.carousel-title {
	font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 64px/82px Lora;
	letter-spacing: var(--unnamed-character-spacing-0);
	text-align: left;
	font: normal normal bold 64px/82px Lora;
	letter-spacing: 0px;
	color: #000000;
	margin: 0px;
	padding: 0;
}
.carousel-description {
	font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20) /
		var(--unnamed-line-spacing-28) var(--unnamed-font-family-roboto);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-262626);
	text-align: left;
	font: normal normal normal 20px/28px Roboto;
	letter-spacing: 0px;
	color: #262626;
	margin-top: 25px;
	padding-right: 50px;
	margin: 0px;
}
